.reviewContent {
  display: block;
  font-size: 14px;
  line-height: 23px;
}

.reviewContent.clamped {
  max-height: calc(23px * 5); /* line-height * 5ì¤„ */
  overflow: hidden;
}

.reviewSwiper :global(.swiper-pagination) {
  bottom: 15px;
  right: 15px;
  left: auto;
  width: auto;
  padding: 6.5px 15.5px;
  background-color: #000000;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -1px;
  color: #ffffff;
  border-radius: 12px;
  opacity: 0.5;
}
