@import 'tailwindcss';

@font-face {
  font-family: 'Spoqa Han Sans';
  src:
    url('/font/SpoqaHanSansThin.woff2') format('woff2'),
    url('/font/SpoqaHanSansThin.woff') format('woff'),
    url('/font/Spoqa Han Sans Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src:
    url('/font/SpoqaHanSansLight.woff2') format('woff2'),
    url('/font/SpoqaHanSansLight.woff') format('woff'),
    url('/font/Spoqa Han Sans Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src:
    url('/font/SpoqaHanSansRegular.woff2') format('woff2'),
    url('/font/SpoqaHanSansRegular.woff') format('woff'),
    url('/font/Spoqa Han Sans Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src:
    url('/font/SpoqaHanSansBold.woff2') format('woff2'),
    url('/font/SpoqaHanSansBold.woff') format('woff'),
    url('/font/Spoqa Han Sans Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #a91201;
  --border-color: #eeeeee;
  --border-input-off: #eeeeee;
  --border-input-on: #666666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--main-color);
  --color-border-main: var(--border-color);
  --color-border-input: var(--border-input-off);
  --color-border-input-focus: var(--border-input-on);
  --font-spoqa: 'Spoqa Han Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-nanum-myeongjo-bold: var(--font-nanum-myeongjo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-spoqa);
}
